.eventdetail {
  background-color: $primary_grey;
  .event-headerbox {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 30vh;
    width: 100%;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .event-topbar {
      height: 63%;
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .event-titlebox {
      .textbox{
        float: left;
        height: 37%;
        width: 80%;
        overflow-x: hidden;
        .event-name {
          margin-left: 10%;
          color: $primary_white;
          font-weight: bold;
          font-size: 2em;
        }
        .event-date {
          margin-left: 10%;
          color: $primary_grey;
          font-size: 1.3em;
        }
      }
    }
    .event-join{
      float: right;
      img {
        margin-right: 20px;
        margin-top: 5px;
        height: 40px;
        width: 40px;
        .icon-circle {
          fill: $primary_white_opacity;
        }
        .icon-text {
          fill: $transparent;
        }
      }
      p {
        color: $primary_white;
        font-size: 0.8em;

      }
    }
  }
  a {
    text-decoration: none;
    .contentbox {
      margin-top: 2vh;
      height: 20vh;
      background-color: $primary_white;
      -webkit-box-shadow: $shadow_menu;
      -moz-box-shadow: $shadow_menu;
      box-shadow: $shadow_menu;
      position: relative;
      .headerbox {
        height: 30px;
        z-index: 11;
        .icon {
          float: left;
          img {
            position: absolute;
            z-index: 11;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: 20px;
            .icon-circle {
              fill: $primary_white;
            }
            .icon-text {
              fill: $primary_blue;
            }
          }
        }
        .title {
          position: absolute;
          z-index: 11;
          right: 0;
          float: right;
          background-color: $primary_blue;
          text-align: center;
          width: 110px;
          height: 28px;
          color: $primary_white;
          font-size: 1.2em;
          border-bottom-left-radius: 15px;
          border-bottom-left-radius: 15px;
          -webkit-box-shadow: $shadow_menu;
          -moz-box-shadow: $shadow_menu;
          box-shadow: $shadow_menu;
          padding-top: 2px;
        }
      }
      .mapbox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
      .iframeoverlay {
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height:100%;
        z-index:10;
        background-color: rgba(0, 158, 223, 0.2);
      }
      .description {
        padding: 10px 37px;
        color: $primary_darkgrey;
        font-size: 1.3em;
        overflow: hidden;
        height: 60%;
      }
    }
  }
  .eventparticipants {
    height: 24vh;
    width: 100%;
    margin-top: 2vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .headerbox {
      height: 30px;
      z-index: 10;
      .icon {
        float: left;
        img {
          position: absolute;
          z-index: 10;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: 20px;
          .icon-circle {
            fill: $primary_white;
          }
          .icon-text {
            fill: $primary_blue;
          }
        }
      }
      .title {
        position: absolute;
        z-index: 10;
        right: 0;
        float: right;
        background-color: $primary_blue;
        text-align: center;
        width: 110px;
        height: 28px;
        color: $primary_white;
        font-size: 1.2em;
        border-bottom-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -webkit-box-shadow: $shadow_menu;
        -moz-box-shadow: $shadow_menu;
        box-shadow: $shadow_menu;
        padding-top: 2px;
      }
    }
    .participants {
      padding: 15px 37px;
      .label {
        color: $primary_darkgrey;
        font-size: 1.3em;
      }
      .participantslist {
        height: 60px;
        overflow-x: scroll;
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}


.eventdetail-location {
  background-color: $primary_grey;
  .event-headerbox {
    position: relative;
    height: 30vh;
    width: 100%;
    .event-topbar {
      position: absolute;
      z-index: 10;
      height: 63%;
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .mapbox {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .contentbox {
    height: 72vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu_up;
    -moz-box-shadow: $shadow_menu_up;
    box-shadow: $shadow_menu_up;
    .headerbox {
      height: 30px;
      z-index: 10;
      .icon {
        float: left;
        img {
          position: absolute;
          z-index: 10;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: 20px;
          .icon-circle {
            fill: $primary_white;
          }
          .icon-text {
            fill: $primary_blue;
          }
        }
      }
      .title {
        position: absolute;
        z-index: 10;
        right: 0;
        float: right;
        background-color: $primary_blue;
        text-align: center;
        width: 110px;
        height: 28px;
        color: $primary_white;
        font-size: 1.2em;
        border-bottom-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -webkit-box-shadow: $shadow_menu;
        -moz-box-shadow: $shadow_menu;
        box-shadow: $shadow_menu;
        padding-top: 2px;
      }
    }
    .description {
      padding: 10px 37px;
      color: $primary_darkgrey;
      font-size: 1.3em;
      overflow: hidden;
      height: 60%;
    }
  }
}


.eventdetail-description {
  background-color: $primary_grey;
  .event-headerbox {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 30vh;
    width: 100%;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .event-topbar {
      height: 63%;
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .event-titlebox {
      .textbox{
        float: left;
        height: 37%;
        width: 80%;
        overflow-x: hidden;
        .event-name {
          margin-left: 10%;
          color: $primary_white;
          font-weight: bold;
          font-size: 2em;
        }
        .event-date {
          margin-left: 10%;
          color: $primary_grey;
          font-size: 1.3em;
        }
      }
    }
  }
  .contentbox {
    margin-top: 2vh;
    height: 70vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .headerbox {
      height: 30px;
      z-index: 10;
      .icon {
        float: left;
        img {
          position: absolute;
          z-index: 10;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: 20px;
          .icon-circle {
            fill: $primary_white;
          }
          .icon-text {
            fill: $primary_blue;
          }
        }
      }
      .title {
        position: absolute;
        z-index: 10;
        right: 0;
        float: right;
        background-color: $primary_blue;
        text-align: center;
        width: 110px;
        height: 28px;
        color: $primary_white;
        font-size: 1.2em;
        border-bottom-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -webkit-box-shadow: $shadow_menu;
        -moz-box-shadow: $shadow_menu;
        box-shadow: $shadow_menu;
        padding-top: 2px;
      }
    }
    .description {
      padding: 10px 37px;
      color: $primary_darkgrey;
      font-size: 1.3em;
      overflow: hidden;
      height: 60%;
    }
  }
}

.eventjoin {
  background-color: $primary_grey;
  .event-headerbox {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 30vh;
    width: 100%;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .event-topbar {
      height: 63%;
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
        .icon-circle {
          fill: $primary_white;
        }
        .icon-text {
          fill: $primary_blue;
        }
      }
    }
    .event-titlebox {
      .textbox{
        float: left;
        height: 37%;
        width: 80%;
        overflow-x: hidden;
        .event-name {
          margin-left: 10%;
          color: $primary_white;
          font-weight: bold;
          font-size: 2em;
          line-height: normal;
        }
        .event-date {
          margin-left: 10%;
          color: $primary_grey;
          font-size: 1.3em;
        }
      }
    }
    .event-join{
      float: right;
      img {
        margin-right: 20px;
        height: 40px;
        width: 40px;
        .icon-circle {
          fill: $primary_white_opacity;
        }
        .icon-text {
          fill: $transparent;
        }
      }
      p {
        color: $primary_white;
        font-size: 0.8em;

      }
    }
  }
  .contentbox {
    margin-top: 2vh;
    height: 68vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .headerbox {
      height: 30px;
      z-index: 10;
      .icon {
        float: left;
        img {
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: 20px;
          .icon-circle {
            fill: $primary_white;
          }
          .icon-text {
            fill: $primary_blue;
          }
        }
      }
    }
    .message {
      padding: 10px 37px;
      color: $primary_darkgrey;
      font-size: 1.3em;
      overflow: hidden;
      .headline {
        font-weight: bolder;
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }
    .btn {
      width: 80%;
      height: 40px;
      &:first-child {
        padding-top: 25px;
      }
      a {
          text-decoration: none;
          img {
            float: left;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            margin-left: 37px;
          }
          p {
            color: $primary_darkgrey;
            font-size: 1.2em;
            padding-top: 10px;
          }
      }
    }
  }
}

.eventleave {
  background-color: $primary_grey;
  .event-headerbox {
    background-image: url('../img/example-img/englischer-garten.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 30vh;
    width: 100%;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .event-topbar {
      height: 63%;
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
        .icon-circle {
          fill: $primary_white;
        }
        .icon-text {
          fill: $primary_blue;
        }
      }
    }
    .event-titlebox {
      .textbox{
        float: left;
        height: 37%;
        width: 80%;
        overflow-x: hidden;
        .event-name {
          margin-left: 10%;
          color: $primary_white;
          font-weight: bold;
          font-size: 2em;
          line-height: normal;
        }
        .event-date {
          margin-left: 10%;
          color: $primary_grey;
          font-size: 1.3em;
        }
      }
    }
    .event-join{
      float: right;
      img {
        margin-right: 20px;
        margin-top: 5px;
        height: 40px;
        width: 40px;
        .icon-circle {
          fill: $primary_white_opacity;
        }
        .icon-text {
          fill: $transparent;
        }
      }
      p {
        color: $primary_white;
        font-size: 0.8em;

      }
    }
  }
  .contentbox {
    margin-top: 2vh;
    height: 68vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu;
    -moz-box-shadow: $shadow_menu;
    box-shadow: $shadow_menu;
    .headerbox {
      height: 30px;
      z-index: 10;
      .icon {
        float: left;
        img {
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: 20px;
          .icon-circle {
            fill: $primary_white;
          }
          .icon-text {
            fill: $primary_blue;
          }
        }
      }
    }
    .message {
      padding: 10px 37px;
      color: $primary_darkgrey;
      font-size: 1.3em;
      overflow: hidden;
      .headline {
        font-weight: bolder;
        font-size: 1.5em;
        margin-bottom: 10px;
        line-height: 1em;
      }
    }
  }
}
