<ion-view title="Meine Verabredung">
  <ion-content class="eventdetail">
    <div class="event-headerbox" style="background-image: url({{event.category.image}})">
      <div class="event-topbar">
        <a href="" ng-click="myGoBack()">
          <img src="img/icons/arrow_left_red_white.svg">
        </a>
      </div>
      <div class="event-titlebox">
        <div class="textbox" ng-if="event">
          <p class="event-name">{{event.name}}</p>
          <p class="event-date">{{event.date}} Uhr</p>
        </div>
        <div class="event-join">
          <a ui-sref="eventjoin({id: event.id, join: false})" ng-if="participates == true">
            <img src="img/icons/check_accept_green_white.svg">
          </a>
          <p ng-if="participates == true">
            zugesagt
          </p>
          <a ui-sref="eventjoin({id: event.id, join: true})" ng-if="participates == false">
            <img src="img/icons/check_accept_transparent.svg">
          </a>
          <p ng-if="participates == false">
            zusagen
          </p>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>

    <a href="" ui-sref="eventdetail-description({id: event.id})">
      <div class="contentbox">
        <div class="headerbox">
          <div class="icon">
            <img src="img/icons/information_blue_white.svg">
          </div>
          <div class="title">
            Einladung
          </div>
          <div style="clear: both;"></div>
        </div>
        <p class="description">
          {{event.description}}
        </p>
      </div>
    </a>
    <a href="" ui-sref="eventdetail-location({id: event.id})">
      <div class="contentbox">
        <div class="headerbox">
          <div class="icon">
            <img src="img/icons/location_blue_white.svg">
          </div>
          <div class="title">
            Location
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="iframeoverlay"></div>
        <iframe class="mapbox" width="600" height="450" frameborder="0" style="border:0" ng-src="{{trustSrc(event.location.src)}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </a>

    <div class="eventparticipants">
      <div class="headerbox">
        <div class="icon">
          <img src="img/icons/participant_blue_white.svg">
        </div>
        <div class="title">
          Teilnehmer
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="participants">
        <p class="label">
          {{event.remainingSpaces}} Plätze sind noch frei
        </p>
        <ion-scroll class="participantslist" direction="x">
          <div>
            <img ng-src="{{user.image}}" ng-repeat="user in users" style="margin-right: 5px">
          </div>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-view>
