.createdate {
  .onezone-datepicker.onezone-datepicker-show {


  }
}

div.row {
  margin-top: 30px;
  margin-bottom: 2px;
}

.onezone-datepicker.onezone-datepicker-show {
  max-height: 50vh !important;
  border-bottom: 0px !important;
}


.onezone-datepicker {
  height: 50vh !important;
  background-color: white !important;
}

/*div .row:nth-child(8){
  margin-top: 20px;
}*/
span.onezone-datepicker-selection-button {
  display:none !important;
}

.timepicker {
  margin-top: 20px;
}

h4 {
  text-align:center;
}

label.item.item-input input {
  text-align:center;
}

.button-stable {
  margin:0 auto;
  display:block;
  border-color: $primary-grey !important;
}




/*
<span class="onezone-datepicker-selection-button ion-ios-checkmark" ng-if="!datepicker.hideSetButton" ng-click="setDate()"></span>
::before </span>*/

