<ion-view title="Profile">
  <ion-content class="userdata">
      <img class="mainIcon" src="{{user.image}}">
      <div class="text">
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/location_white_transparent.svg">
          <input type="text" placeholder="Name" ng-model="user.firstname">
          <div style="clear: btoth"></div>
        </div>
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/location_white_transparent.svg">
          <input type="text" placeholder="Wohnort" ng-model="user.city">
          <div style="clear: btoth"></div>
        </div>
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/location_white_transparent.svg">
          <input type="text" placeholder="Umzug" ng-model="user.movedMonth">
          <div style="clear: btoth"></div>
        </div>
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/location_white_transparent.svg">
          <input type="text" placeholder="Beruf" ng-model="user.profession">
          <div style="clear: btoth"></div>
        </div>
      </div>
      <a href="" ng-click="createAccount(user)">
        <div class="nextButton">
          <p>
            Account erstellen
          </p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
