<ion-view title="Profile">
  <ion-content class="userdata">
      <img class="mainIcon" src="{{user.image}}">
      <div class="text">
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/participant_white.svg">
          <input type="text" placeholder="Name" ng-model="user.firstname">
          <div style="clear: btoth"></div>
        </div>
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/location_white_transparent.svg">
          <input type="text" placeholder="Wohnort" ng-model="user.city">
          <div style="clear: btoth"></div>
        </div>
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/calendar_white_transparent.svg">
          <input type="text" placeholder="Umzug" ng-model="user.movedMonth">
          <div style="clear: btoth"></div>
        </div>
        <div class="inputbox">
          <img class="inputIcon" src="img/icons/location_white_transparent.svg">
          <input type="text" placeholder="Beruf" ng-model="user.profession">
          <div style="clear: btoth"></div>
        </div>
      </div>
      <button class="rooqie-button rooqie-button-white rooqie-button-md center" ng-disabled="!user.moved && !user.firstname && !user.city && !user.profession" href="" ng-click="createAccount(user)">
        Account erstellen
      </button>
    </div>
  </ion-content>
</ion-view>
