$image-size: 80px;

.selectlocation{
  background-color: $primary_grey;
  position: absolute;
  .eventlist {
    height: 75vh;
    .card {
      margin: 5px 0px;
      min-height: 15vh;
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      img {
        width: $image-size;
        height: $image-size;
        float: left;
        border-radius: $image-size/2;
        -webkit-border-radius: $image-size/2;
        -moz-border-radius: $image-size/2;
        margin: 5px 0px 5px 5px;
      }
      .textbox {
        float: right;
        width: 70vw;
        marign-right: 5px;

        p {
          margin-bottom: 4px !important;
          color: $primary_darkgrey !important;
          font-weight: bold;
        }

        .location-name {
          margin-top: 4px;
          color: $primary_darkgrey;
          font-weight: bold;
          font-size: 1.3em;
          line-height: normal;
        }
      }
    }
  }
}
