<ion-view title="Selectlocation">
  <ion-content class="selectlocation">
    <a href="" ng-click="fn.myGoBack()">
      <img src="img/icons/arrow_left_red_white.svg">
    </a>
    <ion-scroll class="eventlist">
        <div id="map" data-tap-disabled="true"></div>
        <div class="card" ng-repeat="location in locations">
          <img src="{{location.image}}">
          <div class="textbox">
            <p class="location-name">
              {{location.name}}
            </p>
            <p class="location-address">
              {{location.address}}
            </p>
          </div>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>



