<ion-view title="Intro" hide-nav-bar="true">
  <ion-content class="onboarding-moved">
      <img class="mainIcon" src="img/pictograms/group_participants_white_grey.svg">
      <div class="text">
        <p>
          Yeah, du bist auch ein <br>
          rooqie! <br>
          Willkommen in
        </p>
        <div class="inputbox">
            <form name="form">
                <img class="inputIcon" src="img/icons/location_white_transparent.svg">
                <input type="text" placeholder="Wohnort" ng-model="user.city" name="city">
                <div style="clear: btoth"></div>
            </form>
        </div>
      </div>
      <button class="rooqie-button rooqie-button-white rooqie-button-md center" ng-disabled="!user.city" href="" ng-click="nextStep(user)" >
        Okay, super!
      </button>
    </div>
  </ion-content>
</ion-view>
