.bar.bar-dark {
  border-color: $primary_white;
  background-color: $primary_white;
  color: $primary_blue;
  -webkit-box-shadow: $shadow_menu;
  -moz-box-shadow: $shadow_menu;
  box-shadow: $shadow_menu;
}
.bar.bar-dark .title {
  color: $primary_blue;
}

.bar-dark .button.button-icon {
  color: $primary_blue;
}

.menu ion-content {
  background-color: $primary_blue;
}

.menu .list .item {
  background-color: $primary_blue;
  color: $primary_white;
  font-weight: bold;
  border-color: $primary_white;
}

ion-header-bar .title {
  color: $primary_white;
}
