.onboarding-welcome {
  background-color: $primary_blue;
  a {
    text-decoration: none;
    img {
      width: 60vw;
      height: auto;
      margin-left: 20vw;
      margin-top: 15vh;
    }
    .text {
      color: $primary_white;
      margin-left: 30vw;
      font-size: 1.6em;
      font-weight: bold;
      line-height: 0.5em;
      p:first-child {
        opacity: 0.6;
      }
    }
  }
}
