<ion-view title="Vorschläge" ng-intro-options="IntroOptions" ng-intro-method="CallMe">
  <ion-content class="recommendations">
    <ion-scroll class="eventlist">
      <div ng-if="!events" class="spinner">
        <ion-spinner></ion-spinner>
      </div>
      <a ui-sref="eventdetail({id: event.id})" ng-repeat="event in events" ng-if="events">
        <div class="card" style="background-image: url({{event.category.image}})">
          <div class="text">
            <p class="event-name">
              {{event.name}}
            </p>
            <p class="event-date">
              {{event.date}} Uhr
            </p>
            <p class="event-date">
              {{user}}
              {{event.participantCount}}/{{event.maxParticipants}}
            </p>
          </div>
          <div class="overlay"></div>
        </div>
      </a>
    </ion-scroll>
  </ion-content>
</ion-view>
