.recommendations {
  background-color: $primary_grey;
  position: absolute;
  .eventlist {
    height: 94vh;
    .card {
      margin: 5px 0px;
      min-height: 20vh;
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
    }
    a {
      text-decoration: none;
      .card {
        margin: 5px 0px;
        min-height: 25vh;
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        position: relative;
      }
      .text {
        z-index: 11;
        position: absolute;
        width: 100%;
        .event-name {
          margin-left: 10%;
          color: $primary_white;
          font-weight: bold;
          font-size: 2em;
          margin-top: 5vh;
          line-height: normal;
        }
        .event-date {
          margin-left: 10%;
          margin-top: -10px;
          color: $primary_grey;
          font-weight: bold;
        }
      }
      .overlay {
        position: absolute;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        top: 0;
      }
    }
  }
}
