.onboarding-intro {
  background-color: $primary_blue;
  img {
    width: 60vw;
    height: auto;
    margin-left: 20vw;
    margin-top: 15vh;
  }
  .text {
    text-align: center;
    color: $primary_white;
    width: 100%;
    height: 35vh;
    font-size: 1.6em;
    line-height: normal;
  }
  a {
    text-decoration: none;
    .nextButton {
      width: 50vw;
      height: 60px;
      border-radius: 30px;
      background-color: $primary_white;
      text-align: center;
      margin: -25px auto 0px auto;
      p {
        padding-top: 20px;
        color: $primary_darkgrey;
        text-decoration: none;
        font-size: 1.7em;
      }
    }
  }
}
