.onboarding-intro {
  background-color: $primary_blue;
  img {
    width: 60vw;
    height: auto;
    margin-left: 20vw;
    margin-top: 15vh;
  }
  .text {
    text-align: center;
    color: $primary_white;
    width: 100%;
    height: 30vh;
    font-size: 1.6em;
    line-height: normal;
  }
}
