.userevents{
  background-color: $primary_grey;
  position: absolute;
  .eventlist {
    height: 75vh;
    .card {
      margin: 5px 0px;
      min-height: 20vh;
      background-image: url('../img/example-img/englischer-garten.jpg');
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
    }
    a {
      text-decoration: none;
    }
    .event-name {
      margin-left: 10%;
      color: $primary_white;
      font-weight: bold;
      font-size: 2em;
      margin-top: 50px;
    }
    .event-date {
      margin-left: 10%;
      color: $primary_grey;
      font-weight: bold;
    }
  }
  .actionpanel {
    height: 19vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu_up;
    -moz-box-shadow: $shadow_menu_up;
    box-shadow: $shadow_menu_up;
    a:first-child {
      margin-top: 20px;
    }
    a {
      padding: 0px 40px;
      color: $primary_darkgrey;
      .icon {
        margin-right: 15px;
        width: 40px;
        height: 40px;
        .icon-circle {
          fill: $primary_white;
        }
        .icon-text {
          fill: $primary_darkgrey;
        }
      }
    }
  }
  .activated, .active {
    background-color: transparnet;
  }
  .button {
    background-color: $primary_white;
  }
}
