.userevents{
  background-color: $primary_grey;
  position: absolute;
  .eventlist {
    height: 75vh;
    .card {
      margin: 5px 0px;
      min-height: 20vh;
      background-image: url('../img/example-img/englischer-garten.jpg');
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
    }
    a {
      text-decoration: none;
    }
    .event-name {
      margin-left: 10%;
      color: $primary_white;
      font-weight: bold;
      font-size: 2em;
      margin-top: 50px;
    }
    .event-date {
      margin-left: 10%;
      color: $primary_grey;
      font-weight: bold;
    }
  }
  .actionpanel {
    height: 19vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu_up;
    -moz-box-shadow: $shadow_menu_up;
    box-shadow: $shadow_menu_up;
    .btn {
      width: 80%;
      height: 40px;
      &:first-child {
        padding-top: 25px;
      }
      img {
        float: left;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        margin-left: 37px;
      }
      p {
        float: right;
        width: 65%;
        color: $primary_darkgrey;
        font-size: 1.2em;
        padding-top: 10px;
      }
    }
  }
  .activated, .active {
    background-color: transparnet;
  }
  .button {
    background-color: $primary_white;
  }
}
