.userevents{
  background-color: $primary_grey;
  position: absolute;
  .eventlist {
    height: 75vh;
    .spinner {
      margin: 25px auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 85px;
      text-align: center;
    }
    a {
      text-decoration: none;
      .card {
        margin: 5px 0px;
        min-height: 25vh;
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        position: relative;
      }
      .text {
        z-index: 11;
        position: absolute;
        width: 100%;
        .event-name {
          margin-left: 10%;
          color: $primary_white;
          font-weight: bold;
          font-size: 2em;
          margin-top: 50px;
          line-height: normal;
        }
        .event-date {
          margin-left: 10%;
          color: $primary_grey;
          font-weight: bold;
        }
      }
      .overlay {
        position: absolute;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        top: 0;
      }
    }
  }
  .actionpanel {
    height: 19vh;
    background-color: $primary_white;
    -webkit-box-shadow: $shadow_menu_up;
    -moz-box-shadow: $shadow_menu_up;
    box-shadow: $shadow_menu_up;
    .btn {
      width: 89%;
      height: 40px;
      &:first-child {
        padding-top: 15px;
      }
      img {
        float: left;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        margin-left: 37px;
      }
      p {
        float: right;
        width: 65%;
        color: $primary_darkgrey;
        font-size: 1.2em;
        padding-top: 10px;
      }
    }
  }
  .activated, .active {
    background-color: transparnet;
  }
  .button {
    background-color: $primary_white;
  }
}
